<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
    <form method="post" action="/books" th:object="${book}">
        <label for="title">Title:</label>
        <input id="title" value="" />
        <label for="subtitle">Subtitle:</label>
        <input id="subtitle" value="" />
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset form" />
        <a href="/books">Back</a>
    </form>
</body>
</html>
