<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books list</title>
</head>
<body>
    <p th:text="'Here is my awesome ' + ${books.size()} + ' books list'"></p>
    <a href="/books/add">Add a book</a>
    <table border="0">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getBook_id()}"></td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getSubtitle()}"></td>
                <td><a th:href="'/books/' + ${book.getBook_id()}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
